body{
    margin: 0;
    background-color: #F5F5DC;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
header > h1 {
    text-shadow: black 1px 1px 2px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 60px;}

header > nav{
    text-decoration: none;
    color: #333333;
    display: flex;
    font-weight: bold;
    padding: 5px 10px;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    }
    header > nav a:hover{
        text-decoration: underline;
        transition: color 0.5s ease;
        color: orange;
    }

header{
    color: orange;
}

a {
    text-decoration: none;
    color: #333333;
}

.contact-layout {
    display: flex;
    align-items: flex-start;
    gap: 80px; 
    max-width: 1200px; 
    margin: 40px auto; 
    padding: 0 20px; 
}


.contato-info {
    flex: 1; 
}


.mapa {
    flex: 1; 
}
.contato-info {
    padding: 0px 0px;
}

.contato-info h2 {
    font-size: 30px; 
    margin-bottom: 5px; 
}
.contato-info h3 {
    margin-top: 30px; 
    border-bottom: 1px solid #ccc; 
}

.contato-info ul {
    list-style: none; 
    padding-left: 0;
}

.contato-info li {
    margin-bottom: 10px;
}


.mapa iframe {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 8px;
}

footer{
    padding: 30px 60px;
    gap: 20px;
}