body {
    margin: 0;
    background-color: #F5F5DC;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
    gap: 20px;
}

header > h1 {
    text-shadow: black 1px 1px 2px;
    color: orange;
    margin: 0;
}

header > nav {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
    font-weight: bold;
    font-size: 18px;
}

header > nav a:hover {
    text-decoration: underline;
    transition: 0.5s ease;
    color: orange;
}

main {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 40px 20px;
    gap: 40px;
}

main > section {
    line-height: 1.6;
}

main > img {
    width: 100%; 
    max-width: 500px; 
    height: auto;
    border-radius: 10px; 
}

footer {
    padding: 30px 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #333333;
}


@media (min-width: 768px) {
    
    header {
        flex-direction: row; 
        justify-content: space-between;
        padding: 5px 60px;
    }

    header > nav {
        font-size: 20px;
        gap: 30px;
    }

    main {
        flex-direction: row; 
        padding: 40px 60px;
    }

    main > section {
      flex: 1;
    }

    main > img {
      flex: 1; 
      max-width: 700px;
    }
}